html {
  scroll-behavior: smooth;
}

.margem-direita {
  margin-right: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.splash-container{
  background-image: url("./imgs/background.jpg");
}

.splash-head {
  background-color: #ffffffed;
}

.splash-subhead {
  opacity: 1;
  color: red;
  font-size: large;
}

.buscar {
  margin: auto;
  display: block;
  background: #fd6b6c !important;
}